<table class="table table-bordered text-center">
  <tr><th>auひかり</th><th>マンション</th><th>戸建</th></tr>
  <tr><td>ギガ得(2年契約)</td><td>3800円*/月</td><td>5200円/月</td></tr>
  <tr><td>ずっとギガ得(3年契約)</td><td>-</td><td>5100円*/月</td></tr>
  <tr><td>光電話</td><td colspan="2">500円/月</td></tr>
  <tr><td>光テレビ</td><td colspan="2">500円/月</td></tr>
  <tr><td>プロバイダー</td><td colspan="2">@nifty、@TCOM、BIGLOBE、So-net、au one net　など</td></tr>
  <tr><td>セット割</td><td colspan="2">au</td></tr>
</table>
<p>*マンションタイプの料金はお住いのマンション、アパートによって変わります。<br>
  また、契約年数はなく違約金や解約料は発生しませんが、始めの2年以内に解約すると
  別途で初期費用が発生します。<br>
  *ずっとギガ得プランの料金は初年5100円/月、2年目5000円/月、3年目以降4900円/月となります。<br>
</p>
