<table class="table table-bordered text-center">
  <tr><th>BIGLOBE光</th><th>マンション</th><th>戸建</th></tr>
  <tr><td>料金</td><td>4080円/月</td><td>5180円/月</td></tr>
  <tr><td>光電話</td><td colspan="2">500円/月</td></tr>
  <tr><td>光テレビ</td><td colspan="2">660円/月</td></tr>
  <tr><td>プロバイダー</td><td colspan="2">BIGLOBE</td></tr>
  <tr><td>セット割</td><td colspan="2">BIGLOBE(SIM)</td></tr>
</table>
