<table class="table table-bordered text-center">
  <tr><th>So-net コミュファ光*</th><th>マンション</th><th>戸建</th></tr>
  <tr><td>料金(30Mbps)</td><td>-</td><td>3808円/月</td></tr>
  <tr><td>料金(100Mbps)</td><td>3880円/月</td><td>-</td></tr>
  <tr><td>料金(300Mbps)</td><td>4600円/月</td><td>4600円/月</td></tr>
  <tr><td>料金(1Gbps)</td><td>5130円/月</td><td>5130円/月</td></tr>
  <tr><td>光電話</td><td colspan="2">300円/月</td></tr>
  <tr><td>光テレビ</td><td colspan="2">460円/月</td></tr>
  <tr><td>プロバイダー</td><td colspan="2">So-net</td></tr>
  <tr><td>セット割</td><td colspan="2">au</td></tr>
</table>
<p>
*提供エリアが中部地方に限られます。<br>
*料金はSo-netのプロバイダ基本料金とコミュファ光プロバイダセレクトタイプを合わせた金額になります。
</p>
