<table class="table table-bordered text-center">
  <tr><th>ドコモ光</th><th>マンション</th><th>戸建</th></tr>
  <tr><td>料金A*</td><td>4000円/月</td><td>5200円/月</td></tr>
  <tr><td>料金B*</td><td>4200円/月</td><td>5400円/月</td></tr>
  <tr><td>光電話</td><td colspan="2">500円/月</td></tr>
  <tr><td>光テレビ</td><td colspan="2">660円/月</td></tr>
  <tr><td>プロバイダー</td><td colspan="2">plala、so-net、BIGLOBE、@nifty、@TCOM、OCN など</td></tr>
  <tr><td>セット割</td><td colspan="2">ドコモ</td></tr>
</table>
<p>*ご利用するプロバイダによってAタイプ、Bタイプに分かれます。</p>
