<table class="table table-bordered text-center">
  <tr><th>NURO光</th><th>マンション*</th><th>戸建</th></tr>
  <tr><td>料金</td><td>1900円/月</td><td>4743円/月</td></tr>
  <tr><td>光電話</td><td colspan="2">500円/月</td></tr>
  <tr><td>プロバイダー</td><td colspan="2">So-net</td></tr>
  <tr><td>セット割</td><td colspan="2">SoftBank</td></tr>
</table>
<p>*NURO for マンションは提供しているマンションが非常に少なく、現状としては戸建のみとなります。</p>
