<table class="table table-bordered text-center">
  <tr><th>So-net光</th><th>マンション</th><th>戸建</th></tr>
  <tr><td>料金</td><td>4100*円/月</td><td>5200*円/月</td></tr>
  <tr><td>料金（auセット)</td><td>2900円/月</td><td>4000円/月</td></tr>
  <tr><td>光電話</td><td colspan="2">500円/月</td></tr>
  <tr><td>光テレビ</td><td colspan="2">660円/月</td></tr>
  <tr><td>プロバイダー</td><td colspan="2">So-net</td></tr>
  <tr><td>セット割</td><td colspan="2">au</td></tr>
</table>
*So-net 長割 for 光コラボレーションを利用した料金になります。
