<table class="table table-bordered text-center">
  <tr><th>U-NEXT光</th><th>マンション</th><th>戸建</th></tr>
  <tr><td>料金(2年契約)</td><td>3910円/月</td><td>4980*円/月</td></tr>
  <tr><td>料金(3年契約)</td><td>3430円/月</td><td>4480円/月</td></tr>
  <tr><td>光電話</td><td colspan="2">500円/月</td></tr>
  <tr><td>光テレビ</td><td colspan="2">660円/月</td></tr>
  <tr><td>プロバイダー</td><td colspan="2">U-Pa!</td></tr>
  <tr><td>セット割</td><td colspan="2">-</td></tr>
</table>
