<div class="row au">
  <div class="col-md-12">
    <div class="about_texts">
      <h1><span class="auTitle">auひかり</span></h1>
      <div class="result_tables">
        <%= render 'auTable' %>
      </div>
      <h2>auスマートバリュー</h2>
      <div class="result_tables">
        <h3>スマホとセットで家族みんな毎月最大2000円お得</h3>
        <table class="table table-bordered text-center">
          <tr><td>データ定額<br>10/13/30GBの場合</td><td>データ定額<br>5/8/20GBの場合</td><td>データ定額<br>2/3GBの場合</td></tr>
          <tr><td>最大2年間<br>毎月2,000円OFF<br>（永年934円/月＋最大2年間1,066円/月）</td><td>最大2年間<br>毎月1,410円OFF<br>（永年934円/月＋最大2年間476円/月）</td>
            <td>永年<br>毎月934円OFF</td></tr>
        </table>
      </div>
      <div class="about_text">
        <h3>スマートバリュー適用には固定電話が必須</h3>
        <p>auスマートバリュー適用しケータイの割引を受けるためには、固定電話のお申込みが必須になります。<br>
          固定電話を利用しないよりも料金はお得になるので一緒に申し込むのがおすすめです。
        </p>
      </div>
      <div class="about_text">
        <h3>固定電話の申し込みで工事費が無料に！</h3>
        <p>auひかりは固定電話の利用で工事費が実質無料になります。1250円×30ヶ月の工事費のお支払いから毎月同額の割引が適用されます。<br>
          また、固定電話のお申し込みがない場合はネットの工事費として750円×30ヶ月のお支払いが必要です。
        </p>
      </div>
      <h2>auひかりは独自回線</h2>
      <div class="about_text">
        <h3>提供エリアには注意が必要</h3>
        <p>
          auひかりはNTT回線を利用する光コラボレーションと違いau独自の回線を利用します。<br>
          そのため、NTT回線利用の光サービスと比べると提供エリアは狭くなります。<br>
          まずはエリアの検索から行いましょう。
        </p>
      </div>
      <h2>ずっとギガ得プランとギガ得プラン</h2>
      <div class="about_text">
        <h3>契約期間が違う！</h3>
        <p>
          ギガ得プランは永年5200円/月のネット利用料金となります。<br>
          一方で、ずっとギガ得プランは1年ごとに料金がお得になります。<br>
          初年度が5100円/月、2年目が5000円、三年目以降からは4900円/月です。<br>
          契約年数はギガ得プラン/2年契約、ずっとギガ得プラン/3年契約となります。<br>
        </p>
      </div>
      <h2>auひかりをお得にお申込み！</h2>
      <div class="about_text">
        <p>下記サイトからのお申込みならキャッシュバックが最大95000円！！<br>
            オプション非加入でも戸建60000万円、マンション30000円のキャッシュバックが受け取れます</p>
          <div class="text-center">
            <a href="https://px.a8.net/svt/ejp?a8mat=2NVGMP+FK8X0Y+2CPQ+6C9LD" target="_blank">
              <button class="btn btn-success cta">
                代理店でさらに詳しく見る
              </button>
            </a>
          </div>
      </div>
    </div>
  </div>
</div>
