<div class="row">
  <div class="col-md-12">
    <div class="about_texts">
      <h1>BIGLOBE光</h1>
      <div class="result_tables">
        <%= render 'biglobeTable' %>
      </div>
      <h2 class="bg-info"><i class="glyphicon glyphicon-ok"></i>はじめの2年は割引！</h2>
      <div class="about_text">
        <h3><i class="glyphicon glyphicon-ok"></i>新規でも転用でもお得に！</h3>
        <p>新規にBIGLOBE光をご利用される方は毎月680円の割引が受けられます。
          マンションなら月額3400円、戸建なら4500円で2年間利用できます。
          すでにフレッツ光をご利用中の方は転用で毎月380円の割引です。
          マンションなら月額3700円、戸建なら4800円で2年間利用できます。
        </p>
      </div>
      <div class="about_text">
        <h3><i class="glyphicon glyphicon-ok"></i>フレッツからサクッと転用！</h3>
        <p>現在フレッツ光×BIGLOBEをご利用中の方は工事不要でプロバイダもそのままです。
          メールも継続利用できプロバイダ設定のやり直しもありません。
          料金が安くなるBIGLOBE光に転用がおすすめです。
        </p>
      </div>
      <div class="about_text">
        <h3><i class="glyphicon glyphicon-ok"></i>BIGLOBEのSIM利用中なら、さらにお得に！</h3>
        <p>BIGLOBEのSIMを利用中なら300円/月の割引が受けられます。<br>
          SIMフリー携帯を検討中の方は、ぜひセットで使ってみましょう。
        </p>
      </div>
      <h2 class="bg-info"><i class="glyphicon glyphicon-ok"></i>お得にBIGLOBE光をお申込み！</h2>
      <div class="about_text">
        <p>
          下記サイトからBIGLOBE光を選択してお申込みで10000円のキャッシュバック！
        </p>
        <div class="text-center">
          <a href="https://px.a8.net/svt/ejp?a8mat=2NVFUW+CJALBM+1UMC+1NL281" target="_blank">
            <button class="btn btn-success cta">
              代理店でさらに詳しく見る
            </button>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
