<div class="row commfa">
  <div class="col-md-12">
    <div class="about_texts">
      <h1>So-net<span class="cTitle"> コミュファ光</span></h1>
      <div class="result_tables">
        <%= render 'commufaTable' %>
      </div>
      <h2>プロバイダSo-netのコミュファ光でお得に！</h2>
      <div class="about_text">
        <h3>「So-net 長割 for コミュファ」の利用で毎月お得に！</h3>
        <p>
          プロバイダSo-netの利用で通常5550円のコミュファ光を5130円で利用可能に！<br>
          コミュファ光をコミュファのプロバイダで利用すると1ギガホームは月額5550円となります。<br>
          1ギガホームセレクト＋So-net（So-net 長割 for コミュファ）を利用することで毎月420円もお得に利用できます。<br>
          プロバイダの契約は3年契約となるのでコミュファ光長トク割(3年契約)もセットで申し込みましょう。
        </p>
      </div>
      <div class="result_tables">
        <h2>長く使ってお得に！コミュファ光「長トク割」</h3>
        <p>長トク割は3年毎に自動更新となる３年契約を結ぶことで2年継続利用後から割引が受けられるサービスです。<br>
          マンションタイプ、戸建共に申し込めます。</p>
        <table class="table table-bordered text-center">
          <tr><td></td><td>1~2年目</td><td>3~5年目</td><td>6~8年目</td><td>9年目以降</td></tr>
          <tr><td>割引率</td><td>-</td><td>5%割引</td><td>8%割引</td><td>10%割引</td></tr>
        </table>
        <p>戸建で「長トク割」＋「So-net 長割 for コミュファ」で3年契約した場合の料金は以下になります。</p>
        <table class="table table-bordered text-center">
          <tr><td></td><td>開通月の<br>翌月~24ヶ月目</td><td>長トク割<br>3~5年目<br>5%割引</td>
            <td>長トク割<br>6~8年目<br>8%割引</td><td>長トク割<br>9年目以降<br>10%割引</td></tr>
          <tr><td>300メガホームセレクト＋So-net基本料金</td><td>4600円/月</td><td>4435円/月</td><td>4336円/月</td><td>4270円/月</td></tr>
          <tr><td>1ギガホームセレクト＋So-net基本料金</td><td>5130円/月</td><td>4938円/月</td><td>4824円/月</td><td>4747円/月</td></tr>
        </table>
      </div>
      <h2></i>電話もテレビもお得！</h2>
      <div class="about_text">
        <h3>セットでお得！ギガトリプル割</h3>
        <p>1ギガホーム・セレクト+光電話+光テレビをまとめてお申し込みで毎月410円の割引！<br>
          コミュファ光はひかり電話300円/月、ひかりテレビ460円/月なので350円で電話とテレビが利用できる結果に！<br>
        </p>
      </div>
      <h2>今だけさらにお得！ギガスタート割　～11/31</h2>
      <div class="about_text">
        <h3>今月中の契約で初めの2年を毎月500円割引</h3>
        <p>１ギガホームタイプでお申込みの方はギガスタート割が受けらます。<br>
          毎月500円お得で、2年間でなんと12000円お得に！申し込むなら今！
        </p>
      </div>
      <h2>auスマートバリュー</h2>
      <div class="result_tables">
        <h3>スマホとセットで家族みんな毎月最大2000円お得</h3>
        <table class="table table-bordered text-center">
          <tr><td>データ定額<br>10/13/30GBの場合</td><td>データ定額<br>5/8/20GBの場合</td><td>データ定額<br>2/3GBの場合</td></tr>
          <tr><td>最大2年間<br>毎月2,000円OFF<br>（永年934円/月＋最大2年間1,066円/月）</td><td>最大2年間<br>毎月1,410円OFF<br>（永年934円/月＋最大2年間476円/月）</td>
            <td>永年<br>毎月934円OFF</td></tr>
        </table>
      </div>
      <div class="about_text">
        <h3>スマートバリュー適用には固定電話が必須</h3>
        <p>auスマートバリュー適用を適用しケータイの割引を受けるためには、固定電話のお申込みが必須になります。<br>
          固定電話を利用しないよりも料金はお得になるので一緒に申し込むのがおすすめです。
        </p>
      </div>
      <h2>So-net コミュファ光にお申込み！</h2>
      <div class="about_text">
        <p>
          下記サイトからのお申込みで30000円のキャッシュバック！<br>
          現在インターネットご利用中の方はお乗り換えでさらに50000円、計80000円のキャッシュバック！
        </p>
        <div class="text-center">
          <a href="https://px.a8.net/svt/ejp?a8mat=2NVFUW+AJUKQA+2XB4+C7DWH" target="_blank">
            <button class="btn btn-success cta">
              代理店でさらに詳しく見る
            </button>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
