<div class="row docomo">
  <div class="col-md-12">
    <div class="about_texts">
      <h1><span class="dTitle">ドコモ</span><span class="hikariColor">光</span></h1>
      <div class="result_tables">
        <%= render 'docomoTable' %>
      </div>
      <h2 class="bg-info"><i class="glyphicon glyphicon-ok"></i>ドコモのスマホとセットで割引</h2>
      <div class="result_tables">
        <table class="table table-bordered text-center">
          <tr><th>シェアパック</th><th>割引適用後料金(割引額)</th></tr>
          <tr><td>ウルトラシェアパック100</td><td>22000円/月(3000円/月)</td></tr>
          <tr><td>ウルトラシェアパック50</td><td>13600円/月(2400円/月)</td></tr>
          <tr><td>ウルトラシェアパック15</td><td>10700円/月(1800円/月)</td></tr>
          <tr><td>ウルトラシェアパック10</td><td>8300円/月(1200円/月)</td></tr>
          <tr><td>ウルトラシェアパック5</td><td>5700円/月(800円/月)</td></tr>
        </table>
      </div>
      <div class="result_tables">
        <table class="table table-bordered text-center">
          <tr><th>データパック</th><th>割引適用後料金(割引額)</th></tr>
          <tr><td>ウルトラデータLLパック</td><td>6900円/月(1100円/月)</td></tr>
          <tr><td>ウルトラデータLパック</td><td>5100円/月(900円/月)</td></tr>
          <tr><td>ウルトラデータMパック</td><td>4200円/月(800円/月)</td></tr>
          <tr><td>ウルトラデータSパック</td><td>3000円/月(500円/月)</td></tr>
          <tr><td>らくらくパック</td><td>1500円/月(500円/月)</td></tr>
        </table>
      </div>
      <div class="about_text">
        <h3><i class="glyphicon glyphicon-ok"></i>
          固定電話は必要なし! シェアを組まなければ受けられる割引は１台だけ！</h3>
        <p>ドコモ光はSoftBankやauと違い、ひかり電話がセット割りを受ける条件になっていません。<br>
          ネットのみであってもスマホの割引を受けることができます。<br>
          また、家族で複数台ドコモ携帯を持っていても割引対象となるのは１パックだけです。<br>
          複数人ご利用であればシェアパックを組むことをお勧めします。
        </p>
      </div>
      <h2 class="bg-info"><i class="glyphicon glyphicon-ok"></i>ドコモ光の特徴</h2>
      <div class="about_text">
        <h3><i class="glyphicon glyphicon-ok"></i>ドコモ光の支払い</h3>
        <p>セット割りを受けるためにはドコモ光とドコモスマホは同一名義で申し込む必要があります。<br>
          ドコモ光の料金の請求はドコモ携帯の支払いとまとまります。また、シェアパックを組んでいる場合は、
          親回線の支払いにまとめられます。
        </p>
      </div>
      <div class="about_text">
        <h3><i class="glyphicon glyphicon-ok"></i>最高速は1Gbps</h3>
        <p>
          ドコモ光はNTTのフレッツ回線を利用します。詳しくは<%= link_to "コラボレーション光", select_path %>をご確認ください。<br>
          現在フレッツ光をご利用中の方は工事の必要がありません。新規でお申込みの場合は最高速は1Gbps、転用で追加工事を行わない場合
          は現在の回線速度を引き継ぎます。
        </p>
      </div>
      <h2 class="bg-info"><i class="glyphicon glyphicon-ok"></i>ドコモ光をお得にお申込み！</h2>
      <div class="about_text">
        <p>今ならdポイントを5000ポイントプレゼント！
          さらに下記サイトからのお申込みなら工事費が0円に！！<br>
            高性能無線ルーターも無料で使える！
        </p>
        <div class="text-center">
          <a href="https://px.a8.net/svt/ejp?a8mat=2NVCPU+6F07HU+50+54LVJL" target="_blank">
            <button class="btn btn-success cta">
              代理店でさらに詳しく見る
            </button>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
