<div class="row nuro">
  <div class="col-md-12">
    <div class="about_texts">
    <h1><span class="nTitle"> NURO光</span></h1>
    <div class="result_tables">
      <%= render 'nuroTable' %>
    </div>

    <h2>世界最速！最大2Gbps快速インターネット</h2>

    <div class="about_text">
      <h3>2G回線でダウンロードも動画もゲームも快適！</h3>
      <p>NURO光は下り2Gbps、上り1Gbpsの世界最速のインターネットです。現在は関東圏でのみ利用可能です。<br>
        NURO独自の回線になるため、提供エリアは狭いですが、エリア内であれば料金もお得なおススメの回線です
      </p>
    </div>

    <div class="about_text">
      <h3></i>ウイルス対策ソフトも5台まで無料！</h3>
      <p>PCだけでなくスマートフォンのウイルス対策も求められる時代ですが、ウイルスソフトも決して安くないですよね・・・<br>
        NUROならカスペルスキーセキュリティを5台まで無料利用できます。
      </p>
    </div>

    <h2>SoftBankケータイならセット割り！</h2>
    <div class="result_tables">
      <h3>固定電話の申し込みが必要！番号はNTT発番なら引き継ぎOK!</h3>
      <table class="table table-bordered text-center">
        <tr><td>データ定額<br>30GBの場合</td><td>データ定額<br>20GB、5GBの場合</td><td>データ定額(ケータイ)</td></tr>
        <tr><td>ネット＋スマホorタブレット</td><td>ネット＋スマホorタブレット</td><td>ネット＋3Gケータイ</td></tr>
        <tr><td>毎月2000円割引</td><td>毎月1522円割引</td><td>毎月500円割引</td></tr>
        <tr><td>2年間で<br>48000円割引<br>3年目以降も毎月1008円割引</td><td>2年間で<br>36528円割引<br>3年目以降も毎月1008円割引</td><td>2年間で<br>12000円割引<br>3年目以降も毎月500円割引</td></tr>
      </table>
          <p>
        家族の携帯代も毎月割引！<br>
        ソフトバンクを利用するご家族の利用料金も最大2年間毎月2,000円割引になります。例えば、家族4人なら毎月最大8,000円おトク。
        <br>
        利用中の固定電話がNTT発番の電話番号であれば、電話番号も変わらずNURO光電話が利用可能です。

      </p>
    </div>

    <h2>工事費実質無料＋高額キャッシュバックでお申込み！</h2>
    <div class="about_text">
      <p>下記サイトからの申し込みならオプションなしでも30000円のキャッシュバックが受け取れます！</p>
      <div class="text-center">
        <a href="https://px.a8.net/svt/ejp?a8mat=2NVFUW+ACPDGY+3NQI+60H7L" target="_blank">
          <button class="btn btn-success cta">
            代理店でさらに詳しく見る
          </button>
        </a>
      </div>
    </div>
  </div>
</div>
