<div class="row ocn">
  <div class="col-md-12">
    <div class="about_texts">
      <h1><span class="oTitle"> OCN</span><span class="hikariColor">光</span></h1>
      <div class="result_tables">
        <%= render 'ocnTable' %>
      </div>
      <h2 class="bg-info"><i class="glyphicon glyphicon-ok"></i>フレッツ光×OCN利用中なら工事不要でお得に！</h2>
      <div class="about_text">
        <h3><i class="glyphicon glyphicon-ok"></i>フレッツからサクッと転用！</h3>
        <p>現在フレッツ光×OCNをご利用中の方は工事不要でプロバイダ料金含めて戸建5100円/マンション3600円になります。<br>
          もちろんフレッツ光の違約金も発生しません。プロバイダもそのままであれば、
          メールも継続利用できプロバイダ設定のやり直しもありません。
        </p>
      </div>
      <div class="about_text">
        <h3><i class="glyphicon glyphicon-ok"></i>OCNのSIM利用中なら、さらにお得に！</h3>
        <p>OCNのSIMを利用中なら１台200円/月の割引が受けられます。<br>
          最大で5台まで計1000円/月の割引です。<br>
          SIMフリー携帯を検討中の方は、ぜひセットで使ってみましょう。<br>
        </p>
      </div>
      <h2 class="bg-info"><i class="glyphicon glyphicon-ok"></i>お得にOCN光をお申込み！</h2>
      <div class="about_text">
        <p>
          下記サイトからOCN光を選択してお申込みで10000円のキャッシュバック！
        </p>
        <div class="text-center">
          <a href="https://px.a8.net/svt/ejp?a8mat=2NVFUW+CJALBM+1UMC+1NL281" target="_blank">
            <button class="btn btn-success cta">
              代理店でさらに詳しく見る
            </button>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
