<div class="row">
  <div class="col-md-12">
    <div class="about_texts">

      <% n = 1 %>
      <% @rank.each_key{ |key| %>

      <h1><%= image_tag("ranking" + n.to_s + ".png") %>
      <%= link_to @hikaris.find(key.to_i).name,  @hikaris.find(key.to_i).path %>
      </h1>
      <div class="result_tables">
        <%= render @hikaris.find(key.to_i).path + "Table" %>
        <% n = n + 1
          if n > 4 then
            break
          end
        %>
      </div>
      <% } %>
    </div>
  </div>
</div>
