<div class="row softbank">
  <div class="col-md-12">
    <div class="about_texts">
    <h1><span class="bankLogo">=</span>SoftBank<span class="hikariColor">光</span></h1>
    <div class="result_tables">
      <%= render 'softbankTable' %>
    </div>
    <h2>おうち割</h2>
    <div class="result_tables">
      <h3>スマホとセットで家族みんな毎月最大2000円お得！</h3>
      <table class="table table-bordered text-center">
        <tr><td>データ定額<br>30GBの場合</td><td>データ定額<br>20GB、5GBの場合</td><td>データ定額(ケータイ)</td></tr>
        <tr><td>ネット＋スマホorタブレット</td><td>ネット＋スマホorタブレット</td><td>ネット＋3Gケータイ</td></tr>
        <tr><td>毎月2000円割引</td><td>毎月1522円割引</td><td>毎月500円割引</td></tr>
        <tr><td>2年間で<br>48000円割引<br>3年目以降も毎月1008円割引</td><td>2年間で<br>36528円割引<br>3年目以降も毎月1008円割引</td><td>2年間で<br>12000円割引<br>3年目以降も毎月500円割引</td></tr>
      </table>
      <p>
        家族の携帯代も毎月割引！<br>
        ソフトバンクを利用するご家族の利用料金も最大2年間毎月2,000円割引になります。例えば、家族4人なら毎月最大8,000円おトク。
      </p>
    </div>
    <div class="about_text">
      <h3>おうち割適用には固定電話が必須！</h3>
      <p>おうち割を適用するためには固定電話を利用しホワイトコール24の申し込みが必要です。<br>
       おうち割を適用する場合オプションのセット利用がお得です。<br>
        ・「光BBユニット」<br>
        ・「Wi-Fiマルチパック」または「Wi-Fi地デジパック」<br>
        ・「ホワイト光電話」または「光電話＋BBフォン」または「BBフォン」<br>
        これら3つセットで500円/月になるのでひかり電話のみと同額で光BBユニットのレンタルと「Wi-Fiマルチパック」「Wi-Fi地デジパック」の
        いづれかを利用できます。
      </p>
    </div>
    <div class="about_text">
      <h3>光BBユニットなら面倒な設定が不要！</h3>
      <p>プロバイダーが変わるとその設定が不安という方も少なくないですよね？<br>
        「光BBユニットレンタル」を利用すれば、すでにYhoo!BBのプロバイダが設定された状態でご自宅に届きます。<br>
      </p>
    </div>
    <h2>SoftBank光にお申込み！</h2>
    <div class="about_text">
      <p>他社違約金・撤去工事費を10万円まで負担!<br>
        SoftBank光にお乗り換えなら万が一違約金や撤去工事費が発生しても10万円まで負担してくれます。<br>
        ADSL回線などを利用中でも安心して光にお乗り換え可能です！
        <br>
        さらには、下記サイトからのお申込みなら22000円のキャッシュバック付きです！
        下記のサイトでSoftBank光を選択してお申し込みください。<br>
	<div class="text-center">
        <a href="https://px.a8.net/svt/ejp?a8mat=2NVFUW+CJALBM+1UMC+1NL281" target="_blank">
          <button class="btn btn-success cta">
            代理店でさらに詳しく見る
          </button>
        </a>
      </div>
    </div>
  </div>
</div>
