<div class="row sonet">
  <div class="col-md-12">
    <div class="about_texts">
      <h1><span class="sonetTitle"> So-net光</span></h1>
      <div class="result_tables">
        <%= render 'sonetTable' %>
      </div>
      <h2 class="bg-info"><i class="glyphicon glyphicon-ok"></i>So-net光はau利用中なら最高にお得！</h2>
      <div class="about_text">
        <h3><i class="glyphicon glyphicon-ok"></i>「So-net 長割 for 光コラボレーション」でお得に！</h3>
        <p>
          So-net光は3年契約の「So-net 長割 for 光コラボレーション」を利用することで毎月500円お得になります。<br>
          上記表のマンションタイプ4100円/戸建タイプ5200円でお得に利用しましょう！
        </p>
      </div>
      <div class="result_tables">
        <h3><i class="glyphicon glyphicon-ok"></i>家族の誰かがau利用中ならSo-net光の料金を最大1200円割引！</h3>
        <table class="table table-bordered text-center">
          <tr><td>auケータイ<td>データ定額<br>5/8/10/13/20/30GBの場合</td><td>データ定額<br>2/3GBの場合</td>
          <tr><td>割引額</td><td>1200円/月</td><td>500円/月</td></tr>
          <tr><td>料金（マンションタイプ）</td><td>2900円/月</td><td>3600円/月</td></tr>
          <tr><td>料金（戸建タイプ）</td><td>4000円/月</td><td>4700円/月</td></tr>
        </table>
      </div>
      <div class="about_text">
        <h3><i class="glyphicon glyphicon-ok"></i>NTT回線だからエリアも広い！</h3>
        <p>auケータイを持っているのにauひかりの提供エリア外なんて方も多いかと思います。<br>
          So-net光ならNTT回線を利用する光コラボレーションなのでフレッツ光が利用できるエリアはご利用可能です。<br>
          さらに現在フレッツ光をご利用中であれば工事不要でそのままお乗り換え可能です。
        </p>
      </div>
      <h2 class="bg-info"><i class="glyphicon glyphicon-ok"></i>So-net光を超お得にお申込み！</h2>
      <div class="about_text">
        <p>下記サイトからのお申込みなら10000円のキャッシュバックに加え、新規の方も工事費も無料！</p>
        <div class="text-center">
          <a href="https://px.a8.net/svt/ejp?a8mat=2NVFUW+ER2ODU+39FI+NUMHT" target="_blank">
            <button class="btn btn-success cta">
              代理店でさらに詳しく見る
            </button>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
