<div class="row">
  <div class="col-md-12">
    <div class="about_texts aboutAndProvide">
      <h1>回線を選ぶ</h1>
      <h2>転用とは</h2>
      <div class="about_img">
        <%= image_tag "collabo.png", :class => "img-responsive center-block" %>
      </div>
      <div class="about_text">
        <p>
          光コラボレーションとはNTTのフレッツ光の回線、設備を利用してsoftbankやドコモなどの
          事業者が光回線のサービスを提供しようというものです。<br>
          これまではNTTが直接回線を販売するという形でしたが、事業者がNTT回線を卸売りするということになります。<br>
          今現在、フレッツ光を利用している方は設備をそのまま利用することができるため、基本的に工事が必要なく、
          工事費も発生しません。<br>
          設備をそのまま利用するため、<span class="text-danger">「転用」</span>というのです。<br>
          光コラボレーションは間に事業者がはいるため、独自のサービスを行うことができます。<br>
          携帯電話のセット割りなどがその１つとなっています。<br>
          また、これまでのフレッツ光＋プロバイダーの料金と比べ、 月額1000円近くお得になることも多く、セット割りを利用しなく
          ても転用するメリットは十分にあります。<br>
          また、コラボレーション光の月額料金の表記は多くの場合プロバイダーの料金を含んだ額となっています。<br>
        </p>
      </div>
      <h2>転用のメリットと注意点</h2>
      <div class="about_text">
        <h3><i class="glyphicon glyphicon-thumbs-up"></i>メリット</h3>
        <ul>
          <li>月額料金が安くなる</li>
          <li>支払いがまとまり料金が分かりやすい</li>
          <li>セット割りなどのサービスが受けられる</li>
          <li>フレッツ光の違約金は発生しない</li>
          <li>工事が不要で工事費が発生しない</li>
        </ul>
      </div>
      <div class="about_text">
        <h3><i class="glyphicon glyphicon-warning-sign"></i>注意点</h3>
        <ul>
          <li>事務手数料が3000円ほどかかる
          <li>プロバイダーが変更になる場合、違約金が発生する場合がある
          <li>プロバイダーが変更になる場合、設定のし直しが必要になる
        </ul>
      </div>
      <h2>プロバイダーのメールは残せる！</h2>
      <div class="about_text">
        <p>
          転用によりプロバイダーが変更になる場合、元のプロバイダーのメールは利用できなくなってしまいます。<br>
          ご利用のプロバイダーによりますが、月額300円ほどでメールのみを残すことができます。
        </p>
      </div>
      <h2>もちろん新規でもメリット</h2>
      <div class="about_text">
        <p>
          光コラボレーションの独自サービスには新規工事費が実質無料になるものもあり、
          また、代理店のキャッシュバックは転用より新規の方が高額になります。<br>
          様々な面を考慮し最適な光回線を選択しましょう。
        </p>
      </div>
      <div class="next text-center">
        <%= link_to(content_tag(:i,'次ページ:「回線診断」', class: 'glyphicon glyphicon-circle-arrow-right') , autoSelection_path ,class: 'btn btn-default')%>
      </div>
    </div>
  </div>
</div>
