<div class="row unext">
  <div class="col-md-12">
    <div class="about_texts">
      <h1><span class="uTitle"> U-NEXT</span><span class="hikariColor">光</span></h1>
      <div class="result_tables">
        <%= render 'unextTable' %>
      </div>
      <h2 class="bg-info"><i class="glyphicon glyphicon-ok"></i>とにかく安い！セット割りなしならU-NEXT!</h2>
      <div class="about_text">
        <h3><i class="glyphicon glyphicon-ok"></i>3年契約「ず～っと割」なら戸建でも4480円！</h3>
        <p>現在の光回線の多くはプロバイダ料金込みで5000円前後。<br>
          料金を抑えるためにはスマホとセットにするしかありません。<br>
          さらには始めの２年だけ割引なんてことも・・・<br>
          ただ純粋に安い回線がいい！って方にはU-NEXT光がおすすめです
        </p>
      </div>
      <div class="about_text">
        <h3><i class="glyphicon glyphicon-ok"></i>回線はNTTだから安心！</h3>
        <p>安いというと不安になってしまわれる方もいるかと思いますが、利用する回線はNTT回線<br>
          最高速は1Gbpsと他社にも劣りません。<br>
          もちろんフレッツ利用中であれば工事不要で転用可能です。
        </p>
      </div>
      <h2 class="bg-info"><i class="glyphicon glyphicon-ok"></i>U-NEXT光を超お得にお申込み！</h2>
      <div class="about_text">
        <p>下記サイトからのお申込みならお得！</p>
        <div class="text-center">
          <a href="https://px.a8.net/svt/ejp?a8mat=2NVFUW+D44RHU+3KMU+5ZMCH" target="_blank">
            <button class="btn btn-success cta">
              代理店でさらに詳しく見る
            </button>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
