<div class="row">
  <div class="col-md-12">
    <div class="about_texts aboutAndProvide">
      <h1> なぜキャッシュバックがもらえる？</h1>
      <h2>代理店</h2>
      <div class="about_text">
        <p>
          インターネット契約や携帯電話の契約は多くの場合代理店が行います。<br>
          街で見かける大手通信事業会社(ドコモ、au、softbankなど)のショップに関しても、
          看板こそ事業会社のものですが、そのほとんどは代理店が運営しています。<br>
          インターネットの契約や申し込みは最近では大手家電量販店でも行うことができるようになりました。<br>
          代理店は顧客と契約を結ぶことで通信事業会社から収入を得ています。<br>
        </p>
      </div>
      <h2>キャッシュバックがもらえる理由</h2>
      <div class="about_text">
        <p>
          基本的に、どこの代理店で契約を結んでも月額料金は変わりません。<br>
          また、通信事業会社が行っている公式キャンペーンも変わらず受けることができます。<br>
          そこで、代理店は価格競争の代わりとして、キャッシュバックや豪華景品プレゼントなど
          独自のキャンペーンを行っています。
        </p>
      </div>
      <h2>ネット上の代理店はキャッシュバックが多い！？</h2>
      <div class="about_text">
        <p>
          これはあくまで傾向ですがインターネット上の代理店はキャッシュバックが高額です。<br>
          また通信事業会社のショップでは公式のキャンペーンのみしか行っていないので、家電量販店やインターネット上の代理店
          を利用した方がお得だといえます。
        </p>
      </div>
      <h2>高額すぎるキャッシュバックに注意！？</h2>
      <div class="about_text">
        <p>
          高額すぎるキャッシュバックはオプションの加入が必須の場合があります。<br>
          500円/月のオプションであっても1年間でみれば12000円ですよね？<br>
          必要なオプションであれば問題ないのですが、キャッシュバック目的の加入には
          注意が必要です。
        </p>
      </div>
      <div class="about_img">
        <%= image_tag "cashback.jpg", :class => "img-responsive center-block"%>
      </div>
      <div class="next text-center">
        <%= link_to(content_tag(:i,'次ページ:「回線を選ぶ」', class: 'glyphicon glyphicon-circle-arrow-right') , select_path ,class: 'btn btn-default')%>
      </div>
    </div>
  </div>
</div>
