// Place all the styles related to the about controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.aboutAndProvide{
  h1{
    border-bottom: 1px solid #DDD;
    font-weight: 900;
  }

  h2{
    border-left: 8px solid #F7590A;
    padding-left: 5px;
  }
}

.about_texts{
  h3{
    margin-top: 0;
  }
  .about_text{
    border: 5px solid #DDD;
    padding: 20px;
    font-size: 16px;
//    margin-left: 30px;
//    margin-right: 30px;
    margin-bottom: 30px;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.4);
  }
/*  .about_img{
    margin: 30px;
  }*/
  .form_btn{
    margin: 30px;
    .form-control{
    background-color:#5CB85C;
    color: #FFF;
    }
  }
}
.auto_form{
  h3{
    margin-top: 0;
    margin-left: 10px;
  }
}
.result_tables{
//  margin-left: 30px;
//  margin-right: 30px;
  margin-bottom: 50px;
}
