// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
nav{
  margin-bottom: 0;
}

.about-contents button{
  min-height: 240px;
  width: 100%;
  ul{
    list-style-type: none;
    padding: 0;
  }
}
.about_btn{
  margin-left:30px;
  margin-right: 30px;
  margin-bottom: 10px;
}
.top_main{
  color:#EEE;
  text-align: center;
  background-image:image-url("mainback.png");
  background-repeat: no-repeat;
  min-height: 420px;
  padding-top: 60px;


}
.main-icon{
  height: 30px;
  margin-top: 20px;
  margin-bottom: 40px;
}
.carea{
  margin-top: 20px;
}
.carea_comment{
  margin: 30px;
  text-align: center;
}
.search img{
  height: 80px;
}
.search .text{
  font-size: 22px;
  margin-left: 30px;
  margin-right: 30px;
  border: 5px solid #DDD;
  box-shadow: 5px 5px 10px rgba(0,0,0,0.4);
  p{
    margin: 20px;
  }
}




.big{
  font-size: 70px;
}

.about-content p{
  font-size: 18px;
}
.text-a{
  border: 5px solid #DDD;
}

.text-b{
  border: 5px solid #DDD;
}

.text-c{
  border: 5px solid #DDD;
}

.abc{
  margin-left: 30px;
  margin-right: 30px;
  padding: 20px;
  box-shadow: 5px 5px 10px rgba(0,0,0,0.4);
}

@media screen and (min-width:768px){
  .abc{
    margin-left: 10px;
    margin-right: 10px;
  }
  .text-a{
    margin-left: 30px;
  }
  .text-c{
    margin-right: 30px;
  }
  .about_btn{
    margin: 10px;
  }
  .btn-a{
    margin-left: 20px;
  }
  .btn-c{
    margin-right: 20px;
  }
}
.btn-contents{
  margin-top:50px;
  margin-left: 30px;
  margin-right: 30px;
  color: #333;
}

.about_btn{
  h3{
    font-size: 20px;
  }
  li{
    font-size: 12px;
  }
}
.about_btn .btn_text{
  padding: 10px;
}
.btn_to_auto{
  width: 180px;
  background-color: #F7590A;
}
.btn_to_auto_text{
  text-decoration: none;
  color: #FFF;
}
.to_auto{
  width: 180px;
  margin-top: 10px;
  margin-bottom: 30px;
}
