// Place all the styles related to the select controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.hikariColor{
  color: #F7BD03;
  font-weight: bold;
}

.docomo{
  .dTitle{
    color: #CD1131;
    font-weight: bold;
  }

  h2{
    border-left: 8px solid #CD1131;
    padding-left: 5px;
  }
  h3{
    color: #F7BD03;
    font-weight: bold;
  }
}

.softbank{
  .bankLogo{
    color: #AAAFB3;
    font-weight: 900;
  }
  h2{
    border-left: 8px solid #FFD028;
    padding-left: 5px;
  }
  h3{
    color:#2174ED;
  }
}

.au{
  .auTitle{
    color: #EB5505;
    font-weight: bold;
  }
  h2{
    border-left: 8px solid #EB5505;
    padding-left: 5px;
  }
  h3{
    color: #EB5505;
  }
}

.nuro{
  h1{
    font-style: italic;
    background-color: #000;
    color: #ffffff;
  }
  h2{
    border-left: 8px solid #A3D839;
    padding-left: 5px;
  }
}

.commfa{
  .cTitle{
    color: #0B3182;
    font-weight: bold;
    font-style: italic;
  }
  h2{
    border-left: 8px solid #FFF000;
    padding-left: 5px;

  }
}
.sonet{
  .sonetTitle{
    color: #DC5994;
    font-weight: bold;
  }
  h2{
    border-left: 8px solid #DC5994;
    padding-left: 5px;
  }
}
.unext{
  .uTitle{
    color: #10ACBE;
  }
  h2{
    border-left: 8px solid #10ACBE;
    padding-left: 5px;
  }
}
.ocn{
  .oTitle{
    color:#F49700;
    font-weight: bold;
  }
  h2{
    border-left: 8px solid #F1000D;
    padding-left: 5px;
  }
}

.biglobe{
  h1{
    color:#35318E;
  }

  h2{
    border-left: 8px solid #35318E;
    padding-left: 5px;
  }
}

/*.formBlock{
  padding: 0 10px 30px 10px;
}*/
